body {
  margin: 0;
  background-color: @madison;
  font-family:  'robotoregular';
  color: @white;
}

h1,
h2,
h3,
h4,
h5,
label,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: @white;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

input:focus, button:focus {
  outline: none;
}

a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

.message {
  font-family: 'robotolight';
  font-size: 36px;
}

.heading1 {
  font-family: 'robotobold';
  font-size: 28px;
  @media (max-width: 1280px) {
    font-size: 32px;
  }
}

.heading2 {
  font-family: 'robotobold';
  font-size: 16px;
}

.heading3 {
  font-family: 'robotomedium';
  font-size: 19px;
  @media (max-width: 1280px) {
    font-size: 22px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 1024px){
    font-size: 19px;
  }
}

.subtitle {
  font-family:  'robotoregular';
  font-size: 18px;
}

.paragraph {
  font-family:  'robotoregular';
  font-size: 16px;
}

.caption {
  font-family: 'pt_sansregular';
  font-size: 14px;
}

.page-wrapper {
  max-width: 1440px;
  padding: 0 35px;
  margin: 0 auto 40px;

  @media (min-width: 768px) {
    padding: 0 92px;
  }
}

.page-heading {
  position: relative;
  margin: 21px auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  h1{
    .heading1();
    margin: 0 auto;
    color: @white;
  }

  h2 {
    .heading2();
    font-size: 19px !important;
    margin: 5px auto 0;
    color: @nepal;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
}

.error-message {
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 11px !important;
  color: @mahogany !important;
  text-transform: initial !important;
}
